<div class="position-relative">
  <nav class="navbar navbar-expand-lg navbar-light"
  [style.background-color]="theme.primaryColor"
  >
    <!-- Top Row, mobile view Start-->
    <div class="d-flex w-100">
      <div class="p-2 flex-fill">
        <button class="btn" (click)="onDrawSideNav()">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="p-2 flex-fill"><a class="navbar-brand" href="">
          <i class="far fa-user"></i>
        </a>
      </div>
      <div class="p-2 flex-fill"><a class="navbar-brand" href="">
          <i class="fas fa-utensils"></i>
        </a>
      </div>
      <div class="p-2 flex-fill"><a class="navbar-brand" href="">
          <i class="fas fa-map-marker-alt"></i>
        </a>
      </div>
        <div class="p-2 flex-fill"><a class="navbar-brand" href="">
          <i class="fas fa-shopping-cart">
          <!-- Check -- Move the badge to top of cart icon -->
            <span class="badge badge-light">4</span>
            <span class="sr-only">Total Items in the cart</span>
          </i>
        </a>
      </div>
    </div>
    <div class="input-group d-flex w-100">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Products" aria-label="Search">
      <!-- Check -- Put the search button inside box -->
      <div class="searchButton">
        <button class="btn my-sm-0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <!-- Top Row, mobile view End-->


    <!-- <a class="navbar-brand" href="">
    <img src="../../assets/logo.png">
  </a> -->

    <!-- <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->

    <!-- <a class="privilege-access">
    <img src="../../assets/privilege_access.png">
  </a> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
    </div>
  </nav>



  <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul> -->

      <!-- <div class="dropdown-menu-data">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div> -->
</div>